@import "../../Base.less";
.content-card {
  height: 100% !important;
  .MuiPaper-root {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .MuiCardActions-root {
    justify-content: flex-end;
    justify-content: baseline;
    align-items: flex-end;
    padding: 0;
    button {
      width: 150px;
      background-color: @primary-color-100;
      font-weight: @fontWeight;
      font-family: @fontFamily;
      color: @secondary-color-900;
      border-radius: unset;
      margin-bottom: 20px;
    }
  }
}
.image-tab {
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 28vw;
  border-radius: 5px;
  div {
    color: #fff;
    background-color: rgba(17, 17, 17, 0.616);
    padding: 5px;
    position: relative;
    top: 20vw;
    font-size: @body-font-size;
  }
}
.left-grid {
  .react-reveal {
    .MuiPaper-root {
      .MuiCardContent-root {
        .MuiPaper-root {
          padding: 10px 40px;
          background-color: transparent;
          box-shadow: none;
          color: #111;
          font-size: 18px;
        }
      }
    }
  }
}
.about-carousel {
  .slider-frame {
    height: auto;
    .slider-list {
      .slider-slide {
        .custom-card {
          height: 100vh;
          .MuiCardHeader-root {
            max-width: 20vw;
            margin: unset;
            margin-left: 40px;
          }
          .MuiCardContent-root {
            display: flex;
            height: 50%;
            .MuiPaper-root {
              background-color: @primary-color-700;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}
.service-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  div {
    width: 40%;
    padding: 10px;
  }
  .MuiTypography-h6 {
    color: @primary-color-100;
    .MuiSvgIcon-root {
      vertical-align: sub !important;
      padding-right: 5px;
    }
  }
}
@media @phone-strict {
  .custom-grid {
    flex-direction: column;
    .MuiGrid-root {
      .react-reveal {
        .MuiPaper-root {
          height: auto;
        }
      }
    }
    .MuiGrid-grid-xs-true {
      flex-grow: unset !important;
    }
  }
  .service-content {
    flex-direction: column;
    div {
      width: 100%;
      padding: 10px;
    }
  }

  .image-tab {
    min-height: 50vw;
    div {
      top: 30vw;
    }
  }
  .content-card {
    .MuiPaper-root {
      flex-direction: column;
      .slider {
        width: 100% !important;
      }
    }
  }

  .about-carousel {
    .slider-frame {
      height: auto;
      .slider-list {
        .slider-slide {
          .custom-card {
            height: 100vh;
            .MuiCardHeader-root {
              max-width: 20vw;
              margin: unset;
              margin-left: 40px;
            }
            .MuiCardContent-root {
              flex-direction: column;
              .MuiPaper-root {
                background-color: @primary-color-700;
                width: 100%;
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}
