@import '../../Base.less';

.contact-card {
    .content-card{
        .custom-card-content{
            .MuiPaper-root{
                .MuiPaper-root{
                    .google-map{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}
.typo-card{
    width: 80%;
    margin: 20px auto auto auto;
    .MuiCardContent-root{
    background-color: @secondary-color-900;
    color: @primary-color-100;
.MuiTypography-root{
        font-size: @title-font-size;
        font-family: Arial, Helvetica, sans-serif;
        text-shadow: 1px 2px 2px @primary-color-600;
        font-weight: 500;
    }
    }
}
.contact-form{
    padding: 20px;
    width: 80%;
    margin: auto;
    .MuiFormControl-root ,.MuiButtonBase-root{
        margin-top: 10px;
    }
}
.detail-card{
    height: auto !important;
    .MuiCardContent-root{
        height: 90%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
}
@media @phone-strict {
    .contact-card {
    .content-card{
        width: 100%;
        .custom-card-content{
            .MuiPaper-root{
                flex-direction: column;
                .MuiPaper-root{
                     .google-map{
                        width: 100%;
                        height: calc(100vh - 30vh);
                    }
                }
            }
        }
    }
}
.detail-card{
    .MuiCardContent-root{
        height: 90%;
        overflow-y: auto;
        display: block;
    }
}
.contact-form{
    width: 100%;
    padding: 0;
    .MuiFormControl-root ,.MuiButtonBase-root{
        margin-top: 10px;
    }
}
.typo-card{
    width: 100%;
    margin: 10px auto auto auto;
    .MuiCardContent-root{
    background-color: @secondary-color-900;
    color: @primary-color-100;
    padding: 5px !important;
    .MuiTypography-root{
        font-size: @title-font-size;
    }
    }
}
}