.slider {
  margin: auto;
  .slider-frame {
    .slider-list {
      height: 50vh !important;
      display: flex !important;
      justify-content: center;
      .slider-slide {
        height: inherit !important;
        img {
          width: 100% !important;
          margin: auto;
        }
      }
    }
  }
  .slider-control-bottomcenter {
    ul {
      .paging-item {
        button {
          fill: #fff !important;
          align-content: center;
        }
      }
    }
  }
}
