@import "../../Base.less";
.App {
  width: 100%;
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  .MuiAppBar-root{
    .MuiToolbar-root{
      .web-view{
        .MuiButtonBase-root{
          .MuiButton-label{
            font-size: 12px;
          }
        }
      }
      .mobile-view{
        .more-options{
          .MuiButtonBase-root{
            padding: 2px;
            margin-left: 2px;
          }
          div{
            .MuiPaper-root{
              min-width: 150px;
              .MuiList-root{
                .MuiButtonBase-root{
                  .MuiListItemIcon-root{
                    min-width: auto !important;
                  }
                }
              }
            }
          }
        }
      }
      .login-button{
        background-color: @secondary-color-100;
        min-width: auto !important;
         .MuiButton-label{
            font-size: 12px;
          }
      }
    }
  }
  .custom-card {
    width: 90%;
    margin: auto;
    opacity: 0.9;
    overflow: unset !important;
    background: linear-gradient(
      to bottom right,
      @secondary-color-900,
      @primary-color-900
    );
    margin-top: 50px !important;
    .custom-card-header {
      width: 80%;
      background-color: @secondary-color-100;
      margin: auto;
      position: relative;
      top: -26px;
      border-radius: 10px;
      .MuiCardHeader-action {
        margin-top: auto;
        background-color: transparent;
        button {
          background-color: @secondary-color-500;
          font-weight: @fontWeight;
          color: @white;
          outline: none;
          .MuiButton-label {
            font-size: 10px !important;
          }
        }
        .selected {
          transform: scale(1.2);
          z-index: 1;
          transition: 0.5s;
        }
      }
      .MuiCardHeader-title {
        font-weight: @fontWeightSecondary;
        text-transform: capitalize;
        color: @primary-color-900;
        font-family: @fontFamily;
      }
    }
  }
  .footer {
    background-color: @primary-color-200;
    margin-top: 25px;
    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .col {
        width: calc(100vw - 75vw);
        height: 180px;
        align-self: center;
        margin-top: 10px;
        padding: 5px 10px;
        .MuiListItemIcon-root {
          margin-right: 5px;
        }
        .MuiSvgIcon-root {
          color: @primary-color-800 !important;
        }
      }
      .col1{
        .language-selector{
          .MuiButtonBase-root{
            background-color: #1111;
             .MuiButton-label {
              color: @white;
            }
            
          }
          div {
            z-index: 9998 !important;
            min-width: 15vw;
            .MuiList-padding {
    padding-top: 0;
    padding-bottom: 0;
    .MuiButtonBase-root{
      font-size: @small-font-size;
      font-weight: @fontWeight;
    }
}
          }
        }
      }
      .col3 {
        .MuiListItem-root {
          cursor: pointer;
          text-overflow: clip;
          overflow-wrap: break-word;
          &:hover {
            text-decoration: underline @secondary-color-900;
          }
        }
      }
    }
    .social-icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: @primary-color-400;
      opacity: 0.8;

      div {
        width: 40px;
        margin: 10px;
        height: 40px;
        background-color: @secondary-color-900;
        border-radius: 50%;
        box-shadow: 1px 4px 2px #333;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        .MuiSvgIcon-root {
          color: @primary-color-100;
        }
      }
    }
  }
}

@media @phone-strict {
  .App {
     .MuiAppBar-root{
    .MuiToolbar-root{
      flex-direction: column;
     .makeStyles-menuButton-4{
        padding: 1px;
        margin-right: 0;
      }
      .makeStyles-title-5 {
        font-size: 17px;
      }
    }
  }
    .footer {
      .content {
        flex-direction: column;
        .col {
          width: calc(100vw - 10vw);
          height: auto;
        }
      }
    }
  }
.profile-card{
  width: 100% !important;
  margin-top: 10px;
             .cover{
               width: 100%;
                .profile-image{
                   top:-50px !important;
                   border-width: 4px !important;
                }
            }
            .paper-content{
                  width: 100%;
            }
            
        }
}

.more-options {
  div {
    .MuiListItemIcon-root {
      .MuiSvgIcon-root {
        color: @primary-color-100;
      }
    }
    .MuiListItemText-root {
      .MuiTypography-root {
        color: @primary-color-200 !important;
      }
    }
  }
}

.profile-card{
            overflow: hidden;
            width: 20%;
             .cover{
                width: 100%;
                height: 25%;
                background-color: @secondary-color-100;
                .Particles{
                    width: inherit;
                    position: relative;
                    z-index: 1;
                }
                .profile-image{
                    position: relative;
                    width: 100px;
                    height: 100px;
                    border: 5px solid @primary-color-100;
                    box-shadow: 1px 1px 5px #333;
                    border-radius: 50%;
                    top : -70%;
                    z-index: 10;
                    margin: auto;
                    background-color: #333;
                    left: 0;
                    background-size: cover  !important;
                }
            }
            .paper-content{
                    height: 100%;
                background-color: @primary-color-700 !important;
                .content{
                  position: relative;
                  top: 20%;
                  padding: 5px;
                  .MuiTypography-h3{
                    text-align: center;
                    color: @primary-color-100;
                    font-size: @title-font-size !important;
                  }
                  .MuiTypography-h4{
                    text-align: center;
                    color: @secondary-color-200;
                    font-size: @small-font-size !important;
                  }
                  .MuiTypography-body2{
                    color: @secondary-color-100 !important;
                    padding: 20px;
                  }
                }
            }
            
        }