@primary-color-100: #159957;
@primary-color-200: #2ca368;
@primary-color-300: #44ad79;
@primary-color-400: #5bb889;
@primary-color-500: #73c29a;
@primary-color-600: #8accab;
@primary-color-700: #a1d6bc;
@primary-color-800: #b9e0cd;
@primary-color-900: #d0ebdd;
@secondary-color-100: #155799;
@secondary-color-200: #2c68a3;
@secondary-color-300: #4479ad;
@secondary-color-400: #5b89b8;
@secondary-color-500: #739ac2;
@secondary-color-600: #8aabcc;
@secondary-color-700: #a1bcd6;
@secondary-color-800: #b9cde0;
@secondary-color-900: #d0ddeb;

@title: #fff;
@secondary-text: rgba(255, 247, 247, 0.795);
@title-font-size: 20px;
@body-font-size: 17px;
@small-font-size: 14px;
@title-color: green;
@title-secondary-color: red;
@body-color: blue;
@white: #fff;
@gray: #ddd;
@success: green;
@failed: pink;
@fontWeight: 600;
@screen-xs-min: 480px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@fontWeightSecondary: 500;
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);

@phone: ~"only screen and (max-width: @{screen-xs-min})";
@phone-strict: ~"only screen and (max-width: @{screen-xs-max})";
@tablet: ~"only screen and (min-width: @{screen-sm-min})";
@tablet-strict: ~"only screen and (min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";
@desktop: ~"only screen and (min-width: @{screen-md-min})";
@desktop-strict: ~"only screen and (min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";
@large: ~"only screen and (min-width: @{screen-lg-min})";

@content-width: 1000px;
@fontFamily: Arial, Helvetica, sans-serif;
@mixin clearfix() {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.MuiAppBar-colorPrimary {
  background: linear-gradient(
    to right,
    @secondary-color-100,
    @primary-color-300
  ) !important;
}
.MuiCardHeader-title {
  font-size: @title-font-size !important;
  font-weight: @fontWeight !important;
  text-transform: capitalize;
}
.MuiTypography-h3 {
  font-size: @body-font-size !important;
  font-weight: @fontWeight !important;
  text-transform: capitalize;
}
.MuiTypography-body1 {
  color: @white;
  font-size: @small-font-size !important;
}
.title-light {
  color: @primary-color-900 !important;
}
.font-sm {
  font-size: @small-font-size !important;
}
.MuiButton-containedPrimary {
  background-color: @primary-color-100 !important;
}
.MuiInput-underline:after {
  border-bottom: 2px solid @primary-color-100 !important;
}
.Mui-focused {
  color: @primary-color-100 !important;
}
.MuiButton-label {
  font-size: @small-font-size;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: @secondary-color-900;
  width: 2px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: @primary-color-500;
}
.web-view {
  display: inherit;
}
.mobile-view {
  display: none;
}
@media @phone-strict {
  .web-view {
    display: none;
  }
  .mobile-view {
    display: inherit;
  }
}

body {
  background: #333;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
  background-image: linear-gradient(
    to top,
    @primary-color-500 0%,
    @secondary-color-500 100%
  );
  overflow: hidden;
  background-color: inherit;
}

.wave {
  width: 1050px;
  height: 1025px;
  position: absolute;
  top: -100%;
  left: 50%;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 35%;
  background: rgba(255, 255, 255, 0.75);
  animation: wave 15s infinite linear;
}

@keyframes wave {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.MuiFormHelperText-root {
  color: rgba(248, 79, 79, 0.911) !important;
}
.MuiTypography-body2 {
  font-size: @body-font-size !important;
}
